@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  height: 150px;
}

li:hover {
  text-decoration: underline;
}

.main-container {
  background-color: tomato;
  height: 850px;
}
